ANGEL_API_KEY=
ANGEL_CLIENT_CODE=
ANGEL_PIN=
ANGEL_TOTP_SECRET=
SYMBOL=NIFTY
STRIKES_EACH_SIDE=5
POLL_SEC=5
LOOKBACK_SEC=300
SL_PCT=0.20
RR=1.5
SIGNAL_THRESHOLD=0.35
AI_MIN_CONF=0.55
API_TOKEN=change-me
NSE_POLL_SEC=60
